[app:main]
use = call:Fursuiter:main

pyramid.reload_templates = true

staticdir = %(here)s/Fursuiter/static

distill.document_root = Fursuiter/templates

sql.dsn = mysql+pymysql://user:pass@localhost:3306/fursuiter

session.timeout = 31556940
