#feed-nav {
	
}

#feed-content {
	padding-top: 16px;
}

.control-footer {
	
}

.control-footer button {
	
}

#identity-column {
	border-right: dashed 1px rgba(0,0,0,0.1) !important;
}

#identity-column .list-group-item {
	
}

#message-form .panel-body {
	padding: 0;
}

#message-form .panel-body .form-group {
	margin-bottom:0;
}

#message-form .panel-body textarea {
	border: 0;
}

#feeds-container .tab-content {
	margin-top: 16px;
}