.jumbomaster-overlay {
  height: 540px;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  margin: -23px -15px 0 -15px;
}

.jumbomaster {
  height:540px;
  background: transparent url('/static/img/Capture.png') no-repeat top left;
  background-size: cover;
  box-shadow: rgba(0,0,0,0.15) 0 8px 0;
  margin:-23px -15px 0 -15px;
}

.all-white *, .all-white {
  color: #FFF !important;
}

.accordion .panel {
  box-shadow: rgba(0,0,0,0.1) 4px 4px 0
}

.heading-icon {
  padding:0 32px 12px 0;
  font-size:96px;
  float:left;
}