@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
@import url(/static/style/css/font-awesome.min.css);
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.sep {
  margin-right: 8px;
  margin-left: 8px;
  font-size: inherit;
  font-weight: inherit;
}
.sep:after {
  content: "|";
}
a {
  color: #00b2c9;
  text-decoration: none;
}
a:hover {
  color: #00414a;
}
.btn-primary {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: #008c9e;
  padding: 5px 8px;
  color: #fff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #001b1f;
  color: #fff;
}
.btn-default {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 5px 8px;
  color: #000;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #f2f2f2;
  color: #000;
}
html,
body {
  height: 100%;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
small,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Lucidia Sans', 'Open Sans', sans-serif;
  font-size: 100%;
}
body {
  background-color: #343838;
}
body .page-wrap {
  display: block;
  max-width: 1600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: auto;
  background-color: #f2f2f2;
}
body .page-wrap .nav-menu {
  height: 100%;
  width: 45px;
  position: relative;
  background-color: #00292e;
  float: left;
}
body .page-wrap .nav-menu a {
  color: #d9d9d9;
  margin-top: 12px;
  display: block;
}
body .page-wrap .nav-menu a:hover {
  color: #fff;
}
body .page-wrap .nav-menu .active {
  color: #fff;
}
body .page-wrap .nav-menu .active:hover {
  color: #d9d9d9;
}
body .page-wrap .nav-menu .vsep {
  display: block;
  width: 100%;
  margin: 18px 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
body .page-wrap .header {
  background-color: #005f6b;
  height: 64px;
  position: relative;
  margin-bottom: 2px;
  color: #eeeeee;
  font-weight: 600;
  z-index: 1;
  display: block;
}
body .page-wrap .header .nav-toggle {
  width: 45px;
  display: block;
  background-color: #00292e;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
  cursor: pointer;
  float: left;
}
body .page-wrap .header:after {
  content: ".";
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  text-indent: -999em;
  top: 100%;
  background-color: #008c9e;
}
body .page-wrap .header .logo {
  display: block;
  background-color: #004852;
  width: 220px;
  height: 100%;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
  float: left;
}
body .page-wrap .header .note-icon {
  min-width: 40px;
  height: 64px;
  display: inline-block;
  position: relative;
  margin: 0 0 0 12px;
  line-height: 64px;
  vertical-align: middle;
  float: left;
}
body .page-wrap .header .note-icon .count {
  display: block;
  position: absolute;
  line-height: 14px;
  min-width: 14px;
  height: 14px;
  left: 14px;
  top: 18px;
  color: #fff;
  background-color: red;
  border-radius: 2px;
  font-size: 8pt;
  text-align: center;
}
body .page-wrap .header .clock {
  float: right;
  -webkit-font-smoothing: antialiased;
  width: 112px;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  display: none;
}
@media (min-width: 620px) {
  body .page-wrap .header .clock {
    display: inline;
  }
}
body .page-wrap .header .clock .hmin:after {
  content: ":";
  margin-left: 6px;
  font-weight: 200;
}
body .page-wrap .login {
  display: inline-block;
  width: 44%;
  text-overflow: ellipsis;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  margin-left: 16px;
}
body .page-wrap .login .media {
  display: block;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px;
}
body .page-wrap .login .media .time {
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
}
body .page-wrap .login .media .avi {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 12px;
  float: left;
}
body .page-wrap .login .title {
  display: block;
  color: #fff;
  background-color: rgba(0, 95, 107, 0.8);
  padding: 4px 4px 4px 8px;
  font-size: 14px;
  font-weight: 400;
}
body .page-wrap .login .form {
  padding: 10px, 10px, 10px, 10px;
}
body .page-wrap .dash-menu {
  color: #fff;
  height: 100%;
  width: 220px;
  background-color: #004852;
  display: block;
  float: left;
}
body .page-wrap .dash-menu .profile {
  display: block;
  height: 180px;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
body .page-wrap .dash-menu .profile .full-name {
  font-size: 20px;
  font-weight: 400;
}
body .page-wrap .dash-menu .profile .username {
  font-size: 12px;
  font-weight: 200;
}
body .page-wrap .dash-menu .profile img {
  display: block;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.15);
}
body .page-wrap .dash-menu .tab {
  width: 100%;
  height: 26px;
  display: block;
  margin-top: 12px;
  line-height: 26px;
  vertical-align: middle;
  position: relative;
  text-align: left;
}
body .page-wrap .dash-menu .tab .icon {
  margin-left: 12px;
  margin-right: 16px;
  float: left;
}
body .page-wrap .dash-menu .tab .pill {
  display: block;
  position: absolute;
  right: 24px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  top: 3px;
  background-color: #007685;
}
body .page-wrap .dash-menu .tab.active:after {
  content: ".";
  width: 0;
  height: 0;
  text-indent: -999em;
  position: absolute;
  right: 0;
  top: 4px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #f2f2f2;
}
body .page-wrap .dash-content {
  position: relative;
  display: block;
  margin-left: 265px;
  min-height: 300px;
}
body .page-wrap .dash-content .title {
  display: block;
  color: #fff;
  background-color: rgba(0, 95, 107, 0.8);
  padding: 4px 4px 4px 8px;
  font-size: 14px;
  font-weight: 400;
}
body .page-wrap .dash-content .dash-feed {
  display: inline-block;
  width: 44%;
  text-overflow: ellipsis;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  margin-left: 16px;
}
body .page-wrap .dash-content .dash-feed .media {
  display: block;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px;
}
body .page-wrap .dash-content .dash-feed .media .time {
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
}
body .page-wrap .dash-content .dash-feed .media .avi {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 12px;
  float: left;
}
body .page-wrap .dash-content .trending {
  display: inline-block;
  width: 24%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  margin-right: 16px;
  border-radius: 4px;
  float: right;
}
body .page-wrap .dash-content .trending .media {
  display: block;
  vertical-align: middle;
  padding: 6px;
  line-height: 1em;
}
