#content-root {
  margin-top: 96px;
  margin-right: inherit;
  max-width: 1232px;
}

.img-tiny {
  width: 24px;
}

#hamburger-nav {
  margin: 0;
}

.menuBtn {
  background: transparent;
  border: 0;
  margin-left: 16px;
}

.control-hint {
  margin-bottom: 0px;
  padding-top: 9px;
}

.media-body {
  min-width: 150px;
}

.user-icon {
  width: 42px;
  margin: 0 8px 8px 0;
}

.user-icon > img {
  border:solid 3px rgba(0,0,0,0.2);
  max-width: 100%; /* img-responsive */
  height: auto;
}

.panel-body .row {
  padding:0 8px;
}

.form-horizontal input[type=checkbox] {
  vertical-align: -0.8em;
}

.panel-toggleable .panel-heading {
  cursor: pointer;
}

#navbar {
  border-radius: 0 !important;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 10;
  position: fixed;
  width: 100%;
}

#navbar .navbar-header {
  margin: 0 15px;
}

#global-message-wrapper {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.list-group-item {
  padding: 10px 18px;
}

.advertisement {
  width: 100%;
  min-height: 190px;
  background-color: rgba(0,0,0,0.1);
  font-size: larger;
  margin-bottom: 16px;
  border: solid 1px rgba(255,255,255,0.1);
}

@media (max-width: @screen-xs-max) {
  .media-body {
    min-width: 0px;
  }
  
  .user-icon {
    width: 100%;
  }
}



/* Leftbar styles */

#leftbar {
  display: inline-block;
  width: 264px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 96px 6px 0 6px;
  z-index: 5;
  margin-left: -264px;
}

#leftbar.leftbar-visible {
  margin-left: 0;
}

@media (min-width: 992px) {

  #content-root.leftbar-visible {
    margin-left: 264px;
  }

}

@media (max-width: 991px) {
  #leftbar {
    margin-left: -264px;
  }
}

@media (max-width: 552px) {
  #leftbar.leftbar-visible {
    width: 100%;
  }
}