.user-identity-icon {
	border: solid 8px #FFF;
	width:100%;
	margin-bottom: 16px;
}

#user-cover {
	height: 240px;
	background: transparent 50% 50% / cover no-repeat;
}

#user-cover-content {
}

#user-identity-column {
	position: relative;
	top: -196px;
}

#user-cover-title {
	display:inline;
	padding: 4px 8px;
}

#user-content-column {

}

#user-navbar {
	
}