<div class="panel panel-default">
  <div class="panel-heading">
    <div class="post-heading">
      <a href="/#/user/{{ post.username }}" class="pull-left">
        <img ng-src="/static/demo/avatar/{{ post.username }}.png" alt="{{ post.realname }}'s Avatar" class="user-icon img-rounded">
      </a>
      <div class="btn-toolbar pull-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-default">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </a>
      </div>
      <strong>
        <a href="/#/user/{{ post.username }}">{{ post.realname }}</a>
      </strong>
      <br>
      <a href="/#/post/{{ post.id }}" class="text-muted">{{ post.edate }}</a>
    </div>
  </div>

  <div class="panel-body">{{ post.content }}</div>

</div>